<div>
  <h4>Create Work Items</h4>
  <form action="" method="post" enctype="multipart/form-data" (submit)="onSubmit($event)">
    <div class="row">
      <div class="col-xs-4">
        <div class="input-group">
          <input type="number" class="form-control" placeholder="Task creation count..." value="{{taskCount}}" (change)="onTaskCountChanged($event)">
          <span class="input-group-btn">
          <button class="btn btn-labeled btn-default" type="submit"><span class="btn-label"><i
            class="glyphicon glyphicon-expand"></i> </span> Start</button>
          </span>
        </div>
      </div>
    </div>
  </form>
  <div class="row">
    <div class="col-xs-12" *ngFor='let workitem of workItems | async'>
    <!--  <div class="col-xs-8">
        {{workitem.ActivityId}}
      </div>
      <div class="col-xs-4">-->
        <h1>{{workitem.status}}</h1>
      <!--</div>-->
    </div>
  </div>
</div>
