<div>
  <h4>Create Work Items</h4>
  <form action="" method="post" enctype="multipart/form-data" (submit)="onSubmit($event)">
    <div class="row">
      <div class="col-xs-4">
        <div class="input-group">
          <input type="number" class="form-control" min="1" placeholder="Task creation count..." value="{{taskCount}}"
                 (change)="onTaskCountChanged($event)">
          <span class="input-group-btn">
          <button class="btn btn-labeled btn-default" type="submit"><span class="btn-label"><i
            class="glyphicon glyphicon-play"></i> </span> Start</button>
          </span>
        </div>
      </div>
    </div>
  </form>
  <div class="row" style="padding-top: 10px">
    <div class="col-xs-12">
      <table class="table" [hidden]="workItems == null">
        <tr>
          <th>Activity</th>
          <th>Time Started</th>
          <th>Time Ended</th>
          <th>State</th>
          <th>Report</th>
        </tr>
        <tr *ngFor='let workitem of workItems'
            [ngClass]="{success: workitem.Status == 'Succeeded', danger: workitem.Status.indexOf('Failed') > -1}">
          <td class="col-xs-4">
            {{workitem.ActivityId}}
          </td>
          <td class="col-xs-2">
            {{workitem.TimeQueued | date:'HH:mm:ss' }}
          </td>
          <td class="col-xs-2">
            {{workitem.TimeOutputTransferEnded | date:'HH:mm:ss'}}
          </td>
          <td class="col-xs-2">
            {{workitem.Status}}
          </td>
          <td class="col-xs-2">
            <a href="{{workitem.StatusDetails?.Report}}"
               [hidden]="workitem.StatusDetails == null || workitem.StatusDetails.Report == null ">Report</a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
